Node-MCU simulation/Simulation project.txt
[{"id":"207e1748.c4da88","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"521f1a91.65d284","type":"function","z":"207e1748.c4da88","name":"ESP8266_SImulation","func":"\nvar random_Air_Temp  = global.get(\"random_Air_Temp\"); \nvar random_Air_Humidity = global.get(\"random_Air_Humidity\");\nvar random_Soil_Moisture = global.get(\"random_Soil_Moisture\");\nvar random_Soil_Temperature = global.get(\"random_Soil_Temperature\");\n\nif(msg.payload){\n    \n    // generating the sensor values. Randomness added to the sensor deviation error.\n    // Gives a better approximation to the practical case scenario.\n    \n    random_Air_Temp  += (Math.random() * (0.5+0.5)-0.5);\n    random_Air_Humidity += (Math.random() * (2+2)-2);\n    random_Soil_Moisture += (Math.random() * (2+2)-2);\n    random_Soil_Temperature += (Math.random() * (0.5+0.5)-0.5);\n    \n    \n    // if conditions given below limits the range of the sensor data values.\n    \n    if(random_Air_Temp > 35){        //air temp. range\n        random_Air_Temp = 35.00;\n    }else if(random_Air_Temp <25){\n        random_Air_Temp = 25.00;\n    }\n    \n    if(random_Air_Humidity > 80){    //air hum. range\n        random_Air_Humidity = 80.00;\n    }else if(random_Air_Humidity <50){\n        random_Air_Humidity = 50.00;\n    }\n    \n    if(random_Soil_Moisture > 80){    //soil moist. range\n        random_Soil_Moisture = 80.00;\n    }else if(random_Soil_Moisture <50){\n        random_Soil_Moisture = 50.00;\n    }\n    \n    if(random_Soil_Temperature> 35){  //soil temp. range\n        random_Soil_Temperature = 35.00;\n    }else if(random_Soil_Temperature <25){\n        random_Soil_Temperature = 25.00;\n    }\n    \n    \n    random_Air_Temp  = random_Air_Temp.toFixed(2);\n    random_Air_Humidity = random_Air_Humidity.toFixed(2);\n    random_Soil_Moisture = random_Soil_Moisture.toFixed(2);\n    random_Soil_Temperature = random_Soil_Temperature.toFixed(2);\n}\n\nglobal.set(\"random_Air_Humidity\",Number(random_Air_Humidity)); \nglobal.set(\"random_Soil_Moisture\",Number(random_Soil_Moisture));\nglobal.set(\"random_Soil_Temperature\",Number(random_Soil_Temperature));\nglobal.set(\"random_Air_Temp\",Number(random_Air_Temp));\n\nvar New_Message2 = {\"payload\": global.get(\"random_Soil_Moisture\")};    var New_Message3 = {\"payload\": global.get(\"random_Air_Temp\")}; \nvar New_Message4 = {\"payload\": global.get(\"random_Air_Humidity\")};       var New_Message5 = {\"payload\": global.get(\"random_Soil_Temperature\")};\n\n\n//transmitting data value to serveral nodes for storing and monitoring purposes.\nif (msg.payload){\n    return [ New_Message2 , New_Message3 , New_Message4 , New_Message5];\n}\n\n\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":680,"y":400,"wires":[["e2561f8e.c7a84"],["33fe7920.c0f826"],["6128d761.a08978"],["21d6bce6.dea114"]]},{"id":"e2561f8e.c7a84","type":"ui_chart","z":"207e1748.c4da88","name":"Soil Moisture Chart","group":"704c6976.9332f8","order":6,"width":"15","height":"8","label":"<font color=blue><font size=5>Soil Mositure - %","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"40","ymax":"100","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#000000","#0a69e6","#ff7f0e","#2ca02c","#98df8a","#ff0000","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1010,"y":340,"wires":[[]]},{"id":"33fe7920.c0f826","type":"ui_chart","z":"207e1748.c4da88","name":"Air Temperature Chart","group":"704c6976.9332f8","order":5,"width":"15","height":"8","label":"<font color=blue><font size=5>Air Temperature - °C","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"40","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#000000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1020,"y":380,"wires":[[]]},{"id":"6128d761.a08978","type":"ui_chart","z":"207e1748.c4da88","name":"Air Humidity Chart","group":"704c6976.9332f8","order":8,"width":"15","height":"8","label":"<font color=blue><font size=5>Air Humidity - RH%","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"40","ymax":"100","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#000000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1010,"y":420,"wires":[[]]},{"id":"21d6bce6.dea114","type":"ui_chart","z":"207e1748.c4da88","name":"Soil Temperature Chart","group":"704c6976.9332f8","order":7,"width":"15","height":"8","label":"<font color=blue><font size=5>Soil Temperature - °C","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"40","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#000000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1020,"y":460,"wires":[[]]},{"id":"93860bd0.325148","type":"comment","z":"207e1748.c4da88","name":"Manual trigger ","info":"","x":450,"y":320,"wires":[]},{"id":"cdccb4de.dfc8c8","type":"function","z":"207e1748.c4da88","name":"Initialize some random values","func":"\nif (msg.payload){\n    global.set(\"random_Air_Humidity\",60); \n    global.set(\"random_Soil_Moisture\",60);\n    global.set(\"random_Soil_Temperature\",30);\n    global.set(\"random_Air_Temp\",30);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":560,"wires":[[]]},{"id":"8ce3c014.87eff","type":"inject","z":"207e1748.c4da88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":430,"y":560,"wires":[["cdccb4de.dfc8c8"]]},{"id":"928400bf.01e32","type":"inject","z":"207e1748.c4da88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":430,"y":400,"wires":[["521f1a91.65d284"]]},{"id":"5888557b.f257ec","type":"comment","z":"207e1748.c4da88","name":"Initialize this first","info":"","x":460,"y":500,"wires":[]},{"id":"704c6976.9332f8","type":"ui_group","z":"","name":"test","tab":"74345753.fe5a18","order":1,"disp":true,"width":"15","collapse":false},{"id":"74345753.fe5a18","type":"ui_tab","z":"","name":"test","icon":"dashboard"}]